default_language_version:
  python: python3.10.6

default_stages: [commit, push]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: LICENSE

  - repo: local
    hooks:
      - id: pyupgrade
        name: pyupgrade
        entry: poetry run pyupgrade --py38-plus
        types: [python]
        language: system

  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort --settings-path pyproject.toml
        types: [python]
        language: system
        args: []

  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black --config pyproject.toml
        types: [python]
        language: system

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: poetry run flake8 --config setup.cfg
        types: [python]
        language: system
        files: app/*
        args: []

#  - repo: local
#    hooks:
#      - id: pylint
#        name: pylint
#        entry: poetry run pylint app/ resc/ tests/
#        language: system
#        always_run: true
#        pass_filenames: false
#
#  - repo: local
#    hooks:
#        - id: pipenv-to-requirements
#          name: pipenv-to-requirements
#          entry: pipenv_to_requirements
#          language: system
#          always_run: true
#          pass_filenames: false
